absl-py==2.1.0
contourpy==1.2.0
cycler==0.12.1
dm-tree==0.1.8
fonttools==4.48.1
h5py==3.10.0
keras==3.0.4
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
mtcnn==0.1.1
namex==0.0.7
numpy==1.26.0
opencv-python==4.9.0.80
packaging==23.2
pillow==10.2.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
rich==13.7.0
scipy==1.12.0
setuptools==68.2.2
six==1.16.0
wheel==0.41.2
